examples/event_example_flows.json
[{"id":"9912fd94.3b596","type":"http request","z":"e0bd5fc5.e4aaa","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://hhha:6329/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":261,"y":842,"wires":[["658fefbb.9c8c1","ba9c02aa.4145f"]]},{"id":"97ca7c7b.68c6d","type":"inject","z":"e0bd5fc5.e4aaa","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":91,"y":842,"wires":[["9912fd94.3b596"]]},{"id":"658fefbb.9c8c1","type":"debug","z":"e0bd5fc5.e4aaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":438,"y":802,"wires":[]},{"id":"d5b78740.f76888","type":"ui_table","z":"e0bd5fc5.e4aaa","group":"2bd7de2f.3ca842","name":"Subscriptitons","order":1,"width":"9","height":"13","columns":[{"field":"host","title":"Host","width":"30%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"service","title":"Service","width":"70%","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":648,"y":842,"wires":[]},{"id":"ba9c02aa.4145f","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currentSubscriptions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":448,"y":842,"wires":[["d5b78740.f76888"]]},{"id":"96405da1.b2ade","type":"ui_button","z":"e0bd5fc5.e4aaa","name":"Refresh","group":"2bd7de2f.3ca842","order":1,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":101,"y":802,"wires":[["9912fd94.3b596"]]},{"id":"d7053241.8a2e4","type":"http request","z":"e0bd5fc5.e4aaa","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://hhha:6329/status","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":230,"y":962,"wires":[["aefd1889.d56b98","90dcb871.1d2568","7851210a.f938e"]]},{"id":"250fa581.2b0a4a","type":"inject","z":"e0bd5fc5.e4aaa","name":"trigger","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"date","x":89,"y":962,"wires":[["d7053241.8a2e4"]]},{"id":"cf30fc7a.a4f46","type":"debug","z":"e0bd5fc5.e4aaa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":601,"y":962,"wires":[]},{"id":"aefd1889.d56b98","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.currentSubscriptions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":413,"y":1001,"wires":[["cf30fc7a.a4f46"]]},{"id":"3e206e23.dc06e2","type":"comment","z":"e0bd5fc5.e4aaa","name":"Show active subscriptions (simple) - read me","info":"# Use case\nShows the active subscriptions in a Node-Red dashboard table. \ncommand is http://<your node-red server>:6329/status \n\n# My setup \n- http request is your Node-Red server\n- show data in debug","x":175,"y":922,"wires":[]},{"id":"90dcb871.1d2568","type":"change","z":"e0bd5fc5.e4aaa","name":"isListening","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.isListening","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":404,"y":925,"wires":[["cf30fc7a.a4f46"]]},{"id":"7851210a.f938e","type":"change","z":"e0bd5fc5.e4aaa","name":"hostname/port","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.host & ':' & payload.port\t\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":413,"y":962,"wires":[["cf30fc7a.a4f46"]]},{"id":"ad2d12df.df40a","type":"comment","z":"e0bd5fc5.e4aaa","name":"Show active subscriptions in dasboard table - read me","info":"# Use case\nShows the active subscriptions in a Node-Red dashboard table. \ncommand is http://<your node-red server>:6329/status \n\n# My setup \n- http request is your Node-Red server\n- dashboard must have a tab Sonos Evets, Event\n\n# Palette\nneeds Node-RED dashboard and node-red-node-ui-table","x":205,"y":762,"wires":[]},{"id":"eebe2546.84c568","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosplay3.fritz.box","events":[{"fullName":"RenderingControlService.volume"}],"outputs":1,"x":150,"y":692,"wires":[["29e2ec4d1edf99dc"]]},{"id":"118cc48.4b24b3c","type":"change","z":"e0bd5fc5.e4aaa","name":"convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":494,"y":692,"wires":[["6b316cf2.8ab5f4"]]},{"id":"6b316cf2.8ab5f4","type":"switch","z":"e0bd5fc5.e4aaa","name":"> 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":669,"y":692,"wires":[["3975061b.71c97a"]]},{"id":"3975061b.71c97a","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"32a98882.56e1c8","command":"player.set.volume","state":"29","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":840,"y":692,"wires":[[]]},{"id":"45c1301b.18452","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosbeam.fritz.box","events":[{"fullName":"AVTransportService.basics"}],"outputs":1,"x":149,"y":579,"wires":[["8d84742b.522518"]]},{"id":"8d84742b.522518","type":"change","z":"e0bd5fc5.e4aaa","name":"select uri","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":344,"y":579,"wires":[["4621fe3eea846e7a"]]},{"id":"514c09af.0cb928","type":"switch","z":"e0bd5fc5.e4aaa","name":"tv?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"x-sonos-htastream:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":616,"y":579,"wires":[["190e8a02.ec3c16"]]},{"id":"190e8a02.ec3c16","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"8d44022c.adb65","command":"player.set.volume","state":"20","stateType":"str","avoidCheckPlayerAvailability":false,"name":"","x":790,"y":579,"wires":[[]]},{"id":"7a17088d.45c358","type":"comment","z":"e0bd5fc5.e4aaa","name":"Restrict volume to range 0  to 29 - every volume above will be set back to 29","info":"# Use case\nAnytime someone changes the volume of the specified speaker to a volume higher 0, the volume is reduced to 29. \n\n# My setup \n- As event provider, we can use any SONOS-Player such as sonosplay5.fritz.box\n- SONOS-Player with restricted volume is that with config node bath dns and DNS sonosplay3.fritz.box\n- config node name sonos events: \"household\"","x":265,"y":659,"wires":[]},{"id":"ce2f769d.919ba8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node\n- enter the SONOS-Player DNS name or ip address (the one, of which the volume is restricted)","x":204,"y":717,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"dc4dfc38.975a2","type":"comment","z":"e0bd5fc5.e4aaa","name":"When TV switched on and Sonos Beam is being activated set the volume to 20 - read me","info":"# Use case\nWhen the TV is switched on, the SONOS Beam is being connected. This has been setup  in the SONOS app.  \nThe Beam will trigger an event and the volume is being set\n\n# My setup\n- SONOS beam is connected (wired) to TV (automatci launch)\n- \n- player SONOS beam at ip \"192.168.178.53\"\n- config node name sonos events: \"household\". \n\n- sonos-plus confignode name: \"yourTVplayer DNS\" with ip see above\n","x":315,"y":546,"wires":[]},{"id":"d5b45eea.13343","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode","x":829,"y":666,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"dfe668cf.117888","type":"comment","z":"e0bd5fc5.e4aaa","name":"When SonosWintergarten shows up in network it will join a group - read me","info":"# Use case\nWhen player named \"SonosWintergarten\" shows up in network it will join the specified group.\nThis player is usually switched off from power. \n\n# My setup\n- player at ip \"192.168.178.53\". \n- config node name sonos events: \"household\"\n\n- sonos-plus confignode name: \"yourPlayer DNS\". You can use any in group\n- players in group are \"SonosKueche\", \"SonosBad\", \"SonosWohnzimmer\"\n","x":265,"y":384,"wires":[]},{"id":"79bd7e5a.995ee","type":"change","z":"e0bd5fc5.e4aaa","name":"current /previous player name","rules":[{"t":"set","p":"previousPlayerArray","pt":"msg","to":"$flowContext('previousPlayerArray')","tot":"jsonata"},{"t":"set","p":"currentPlayerArray","pt":"msg","to":"payload.**.playerName","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":404,"y":418,"wires":[["27455f3c.cab9b"]]},{"id":"2788e067.82b4b","type":"inject","z":"e0bd5fc5.e4aaa","name":"init flow variable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":118,"y":497,"wires":[["41f87640.5995a8"]]},{"id":"41f87640.5995a8","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"previousPlayerArray","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":353,"y":497,"wires":[[]]},{"id":"72b3ae2a.1363","type":"change","z":"e0bd5fc5.e4aaa","name":"update flow variable","rules":[{"t":"set","p":"previousPlayerArray","pt":"flow","to":"currentPlayerArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693,"y":458,"wires":[[]]},{"id":"c80e53f6.c3166","type":"switch","z":"e0bd5fc5.e4aaa","name":"SonosWintergarten new?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count($filter(payload.[$='SonosWintergarten'], function ($item) {\t    $item\t})) > 0","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":1,"x":703,"y":418,"wires":[["d99a6d.4f47159"]]},{"id":"27455f3c.cab9b","type":"function","z":"e0bd5fc5.e4aaa","name":"get new player list","func":"// msg.currentPlayerArray current player array\n// msg.previousPlayerArray previous player array\n\n// returns array with names of those not in previous but in current\nconst current = msg.currentPlayerArray\nconst previous = msg.previousPlayerArray\n\nconst newPlayers = []\ncurrent.forEach(player => {\n    if (!previous.includes(player)) {\n        newPlayers.push(player)   \n    }\n})\nmsg.payload = newPlayers\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":464,"y":458,"wires":[["72b3ae2a.1363","c80e53f6.c3166"]]},{"id":"b3228ed3.b10fb","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"88e9fa70.4a53e8","command":"household.create.group","state":"SonosKueche,SonosBad,SonosWohnzimmer,SonosWintergarten","stateType":"str","avoidCheckPlayerAvailability":false,"name":"Add SonosWintergarten","x":1190,"y":417,"wires":[[]]},{"id":"d99a6d.4f47159","type":"delay","z":"e0bd5fc5.e4aaa","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":940,"y":418,"wires":[["b3228ed3.b10fb"]]},{"id":"29e13e12.cbf262","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- replace \"SonosWintergarten\" with your SONOS-Playername (not the confignode name!)\n","x":672,"y":393,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"b4be9d5b.0a2ef","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosplay3.fritz.box","events":[{"fullName":"ZoneGroupTopologyService.allGroups"}],"outputs":1,"x":150,"y":418,"wires":[["79bd7e5a.995ee"]]},{"id":"557d218b.9e4e3","type":"change","z":"e0bd5fc5.e4aaa","name":"not playing","rules":[{"t":"set","p":"payload.artUri","pt":"msg","to":"https://f4.bcbits.com/img/a1470450051_10.jpg","tot":"str"},{"t":"set","p":"msg.payload.artist","pt":"msg","to":"","tot":"str"},{"t":"set","p":"msg.payload.title","pt":"msg","to":"Radio is off","tot":"str"},{"t":"set","p":"payload.processingUnit","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.additional","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":682,"y":342,"wires":[["30c31c0d.10b304"]]},{"id":"81bace9e.03959","type":"comment","z":"e0bd5fc5.e4aaa","name":"Shows title, artist, cover, station/playlist name and radio off - read me","info":"# Use case\nProvides title, artist, cover of current track. Can be used to show track data in \na dashboard or react on track changes.\nA special picture is shown, when player is not playing.\n\n# My setup\n- enter SONOS-Player DNS name or ip address. It must be the coordinator of group\n- config node name sonos events: \"household\"\n","x":245,"y":268,"wires":[]},{"id":"f8ea8f31.41d73","type":"join","z":"e0bd5fc5.e4aaa","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":354,"y":308,"wires":[["a9c6687c.d3c858"]]},{"id":"a9c6687c.d3c858","type":"switch","z":"e0bd5fc5.e4aaa","name":"is playing","property":"payload.playbackstate","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":484,"y":308,"wires":[["41e71e07.7aad6"],["557d218b.9e4e3"]]},{"id":"41e71e07.7aad6","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload.additional","pt":"msg","to":"payload.enqueuedTitle","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":692,"y":302,"wires":[["30c31c0d.10b304"]]},{"id":"9f880f74.622df","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosplay5.fritz.box","events":[{"fullName":"AVTransportService.content"},{"fullName":"AVTransportService.basics"}],"outputs":2,"x":151,"y":302,"wires":[["f8ea8f31.41d73"],["f8ea8f31.41d73"]]},{"id":"30c31c0d.10b304","type":"debug","z":"e0bd5fc5.e4aaa","name":"title, artist, art, stations/playlist name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1011,"y":302,"wires":[]},{"id":"9edd2870.cc5388","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address","x":190,"y":607,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"e17f5f29.2aa4","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode","x":770,"y":552,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"98f2474.421bcb8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- enter SONOS-Player DNS name - can be any always on player","x":203,"y":445,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"c957951a.7f46c8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode\n- enter names of all players in new group","x":1130,"y":397,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"2c23286a.cb3238","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- enter your SONOS-Player DNS name or select ip address. Must be coordinator of group.","x":190,"y":326,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"5bdde3ba.f0f28c","type":"change","z":"e0bd5fc5.e4aaa","name":"get groupname","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.[*][playerName='SonosKueche']).groupName","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":364,"y":197,"wires":[["38aff1bd.c2456e"]]},{"id":"38aff1bd.c2456e","type":"debug","z":"e0bd5fc5.e4aaa","name":"group name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":538,"y":197,"wires":[]},{"id":"8b70000.376e7","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosplay5.fritz.box","events":[{"fullName":"ZoneGroupTopologyService.allGroups"}],"outputs":1,"x":150,"y":197,"wires":[["5bdde3ba.f0f28c"]]},{"id":"18e9f93f.0a17f7","type":"comment","z":"e0bd5fc5.e4aaa","name":"Show groupname of a given player - read me","info":"# Use case\nProvides the groupname of a given player to demonstrate usage of JSONata.\n\n# My setup\n- SONOS-Player with DNS name sonosplay5.fritz.box (ip \"192.168.178.51\"). \n- config node name sonos events: \"household\"\n\n- SONOS-Playername is \"SonosKueche\"","x":175,"y":164,"wires":[]},{"id":"af6db01c.edab7","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- enter your SONOS-Player DNS name or select ip address. Can be any player","x":205,"y":223,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"cf2b6419.a2ed28","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- Replace \"SonosKueche\" by your SONOS-Playername","x":354,"y":224,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"40ea86de.026448","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","name":"","confignode":"1c70290d.90a4e7","playerHostname":"sonosplay5.fritz.box","events":[{"fullName":"AVTransportService.playbackstate"}],"outputs":1,"x":150,"y":100,"wires":[["2e132c8f.a64da4"]]},{"id":"2e132c8f.a64da4","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload = 'playing')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":362,"y":100,"wires":[["cb7049c8.3997d8"]]},{"id":"cb7049c8.3997d8","type":"debug","z":"e0bd5fc5.e4aaa","name":"playback state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":543,"y":100,"wires":[]},{"id":"57d05716.95f328","type":"comment","z":"e0bd5fc5.e4aaa","name":"Is playing - read me","info":"# Use case\nProvides true if SONOS-Player is playing. Several events may arrive. \nYou can filter with filter. \n\n# My setup\n- player at DNS sonosplay5.fritz.box (ip \"192.168.178.51\"). Must be coordinator.\n- config node name sonos events: \"household\"","x":95,"y":68,"wires":[]},{"id":"eebe2c9e.7f0b9","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- enter your players DNS name or select ip address. Must be coordinator","x":207,"y":127,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"4621fe3eea846e7a","type":"rbe","z":"e0bd5fc5.e4aaa","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":480,"y":599,"wires":[["514c09af.0cb928"]]},{"id":"29e2ec4d1edf99dc","type":"rbe","z":"e0bd5fc5.e4aaa","name":"","func":"rbe","gap":"","start":"","inout":"out","septopics":true,"property":"payload","topi":"topic","x":334,"y":692,"wires":[["118cc48.4b24b3c"]]},{"id":"8efe022b6b1a500b","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- replace \"hhha\" with your Node-RED ip address","x":270,"y":866,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"e41f244fa1d28610","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- replace \"hhha\" with your Node-RED ip address","x":250,"y":986,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"f73f1f6eb32e1762","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- adopt to your dashboard","x":630,"y":866,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"51f830bd587f2db0","type":"comment","z":"e0bd5fc5.e4aaa","name":"dashboard at http://<ip>:1880/ui/#!/0","info":"","x":820,"y":806,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"2bd7de2f.3ca842","type":"ui_group","name":"Events","tab":"d249dc46.300e7","order":2,"disp":true,"width":"9","collapse":false},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""},{"id":"32a98882.56e1c8","type":"sonos-config","name":"bath_dns","serialnum":"","ipaddress":"sonosplay3.fritz.box"},{"id":"8d44022c.adb65","type":"sonos-config","name":"your_tvplayer_dns","serialnum":"","ipaddress":"sonosbeam.fritz.box"},{"id":"88e9fa70.4a53e8","type":"sonos-config","name":"your_player_dns","serialnum":"","ipaddress":"sonosplay5.fritz.box"},{"id":"d249dc46.300e7","type":"ui_tab","name":"Sonos Events","icon":"","order":5,"disabled":false,"hidden":false}]