examples/is_playing.json
[{"id":"40ea86de.026448","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.37","events":[{"fullName":"AVTransportService.playbackstate"}],"outputs":1,"x":140,"y":100,"wires":[["2e132c8f.a64da4"]]},{"id":"2e132c8f.a64da4","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload = 'playing')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":361,"y":100,"wires":[["cb7049c8.3997d8"]]},{"id":"cb7049c8.3997d8","type":"debug","z":"e0bd5fc5.e4aaa","name":"playback state","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":100,"wires":[]},{"id":"57d05716.95f328","type":"comment","z":"e0bd5fc5.e4aaa","name":"Is playing ","info":"# Use case\nProvides true if playing. Several events may arrive. You can filter with rbe. \n\n# My setup\n- player at ip \"192.168.178.37\". Must be coordinator.\n- config node name sonos events: \"household\"","x":65,"y":68,"wires":[]},{"id":"eebe2c9e.7f0b9","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address. Must be coordinator","x":190,"y":125,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""}]