examples/restrict_volume.json
[{"id":"eebe2546.84c568","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.35","events":[{"fullName":"RenderingControlService.volume"}],"outputs":1,"x":140,"y":866,"wires":[["ab5591cd.a1daa"]]},{"id":"ab5591cd.a1daa","type":"rbe","z":"e0bd5fc5.e4aaa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":321,"y":866,"wires":[["118cc48.4b24b3c"]]},{"id":"118cc48.4b24b3c","type":"change","z":"e0bd5fc5.e4aaa","name":"convert to number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":866,"wires":[["6b316cf2.8ab5f4"]]},{"id":"6b316cf2.8ab5f4","type":"switch","z":"e0bd5fc5.e4aaa","name":"> 30","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"30","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":866,"wires":[["3975061b.71c97a"]]},{"id":"3975061b.71c97a","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"32a98882.56e1c8","compatibilityMode":false,"command":"player.set.volume","state":"29","stateType":"str","name":"","x":841,"y":866,"wires":[[]]},{"id":"7a17088d.45c358","type":"comment","z":"e0bd5fc5.e4aaa","name":"Restrict volume to range 0  to 29 - every volume above will be set back to 29","info":"# Use case\nAnytime someone changes the volume of the specified speaker to a volume higher 0, the volume is reduced to 29. \n\n# My setup \n- player at ip \"192.168.178.35\"\n- config node name sonos events: \"household\"\n\n- sonos-plus confignode name: \"bath\" with ip see above\n","x":265,"y":833,"wires":[]},{"id":"ce2f769d.919ba8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address","x":190,"y":891,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"d5b45eea.13343","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode","x":830,"y":840,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""},{"id":"32a98882.56e1c8","type":"sonos-config","name":"bath","serialnum":"00-0E-58-FE-3A-EA:5","ipaddress":"192.168.178.35"}]