examples/show_groupname.json
[{"id":"5bdde3ba.f0f28c","type":"change","z":"e0bd5fc5.e4aaa","name":"get groupname","rules":[{"t":"set","p":"payload","pt":"msg","to":"(payload.[*][playerName='Küche']).groupName","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":354,"y":239,"wires":[["38aff1bd.c2456e"]]},{"id":"38aff1bd.c2456e","type":"debug","z":"e0bd5fc5.e4aaa","name":"group name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":538,"y":239,"wires":[]},{"id":"8b70000.376e7","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.35","events":[{"fullName":"ZoneGroupTopologyService.allGroups"}],"outputs":1,"x":140,"y":239,"wires":[["5bdde3ba.f0f28c"]]},{"id":"18e9f93f.0a17f7","type":"comment","z":"e0bd5fc5.e4aaa","name":"Show groupname of a given player","info":"# Use case\nProvides the groupname of a given player to demonstrate usage of JSONata.\n\n# My setup\n- player at ip \"192.168.178.35\". \n- config node name sonos events: \"household\"\n\n- SONOS-Playername is \"Küche\"","x":145,"y":206,"wires":[]},{"id":"af6db01c.edab7","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address. Can be any player","x":189,"y":265,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"cf2b6419.a2ed28","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- Replaye \"Küche\" by your SONOS-Playername","x":354,"y":266,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""}]