examples/shows_radio_.json
[{"id":"557d218b.9e4e3","type":"change","z":"e0bd5fc5.e4aaa","name":"not playing","rules":[{"t":"set","p":"payload.artUri","pt":"msg","to":"https://f4.bcbits.com/img/a1470450051_10.jpg","tot":"str"},{"t":"set","p":"msg.payload.artist","pt":"msg","to":"","tot":"str"},{"t":"set","p":"msg.payload.title","pt":"msg","to":"Radio is off","tot":"str"},{"t":"set","p":"payload.processingUnit","pt":"msg","to":"","tot":"str"},{"t":"set","p":"payload.additional","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":422,"wires":[["30c31c0d.10b304"]]},{"id":"81bace9e.03959","type":"comment","z":"e0bd5fc5.e4aaa","name":"Shows radio off or the title, artist, cover, station/playlist name","info":"# Use case\nProvides title, artist, cover of current track. Can be used to show track data in a dashboard or react on track changes.\nA special picture is shown, when player is not playing\n\n# My setup\n- player at ip \"192.168.178.37\". It is the coordinator of group\n- config node name sonos events: \"household\"\n","x":225,"y":348,"wires":[]},{"id":"f8ea8f31.41d73","type":"join","z":"e0bd5fc5.e4aaa","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":331,"y":388,"wires":[["a9c6687c.d3c858"]]},{"id":"a9c6687c.d3c858","type":"switch","z":"e0bd5fc5.e4aaa","name":"is playing","property":"payload.playbackstate","propertyType":"msg","rules":[{"t":"eq","v":"playing","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":461,"y":388,"wires":[["41e71e07.7aad6"],["557d218b.9e4e3"]]},{"id":"41e71e07.7aad6","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"payload.additional","pt":"msg","to":"payload.enqueuedTitle","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":382,"wires":[["30c31c0d.10b304"]]},{"id":"9f880f74.622df","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.37","events":[{"fullName":"AVTransportService.content"},{"fullName":"AVTransportService.basics"}],"outputs":2,"x":141,"y":382,"wires":[["f8ea8f31.41d73"],["f8ea8f31.41d73"]]},{"id":"2c23286a.cb3238","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address. Must be coordinator of group.","x":190,"y":406,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"30c31c0d.10b304","type":"debug","z":"e0bd5fc5.e4aaa","name":"title, artist, art, stations/playlist name","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1010,"y":382,"wires":[]},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""}]