examples/when_player_shows_up_join_ group.json
[{"id":"dfe668cf.117888","type":"comment","z":"e0bd5fc5.e4aaa","name":"When A E.r_k-er:1 shows up in network it will join a group","info":"# Use case\nWhen player named \"A E.r_k-er:1\" shows up in network it will join the specified group.\n\n# My setup\n- player at ip \"192.168.178.35\". You can use any.\n- config node name sonos events: \"household\"\n\n- sonos-plus confignode name: \"living\". You can use any in group\n- players in group are \"Küche\", \"Bad\", \"Wohnzimmer\"\n","x":215,"y":487,"wires":[]},{"id":"79bd7e5a.995ee","type":"change","z":"e0bd5fc5.e4aaa","name":"current /previous player name","rules":[{"t":"set","p":"previousPlayerArray","pt":"msg","to":"$flowContext('previousPlayerArray')","tot":"jsonata"},{"t":"set","p":"currentPlayerArray","pt":"msg","to":"payload.**.playerName","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":404,"y":521,"wires":[["27455f3c.cab9b"]]},{"id":"2788e067.82b4b","type":"inject","z":"e0bd5fc5.e4aaa","name":"init flow variable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":601,"wires":[["41f87640.5995a8"]]},{"id":"41f87640.5995a8","type":"change","z":"e0bd5fc5.e4aaa","name":"","rules":[{"t":"set","p":"previousPlayerArray","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":395,"y":601,"wires":[[]]},{"id":"72b3ae2a.1363","type":"change","z":"e0bd5fc5.e4aaa","name":"update flow variable","rules":[{"t":"set","p":"previousPlayerArray","pt":"flow","to":"currentPlayerArray","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":693,"y":561,"wires":[[]]},{"id":"c80e53f6.c3166","type":"switch","z":"e0bd5fc5.e4aaa","name":"A E.r_k-er:1 new?","property":"payload","propertyType":"msg","rules":[{"t":"jsonata_exp","v":"$count($filter(payload.[$='A E.r_k-er:1'], function ($item) {\t    $item\t})) > 0","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":1,"x":683,"y":521,"wires":[["d99a6d.4f47159"]]},{"id":"27455f3c.cab9b","type":"function","z":"e0bd5fc5.e4aaa","name":"get new player list","func":"// msg.currentPlayerArray current player array\n// msg.previousPlayerArray previous player array\n\n// returns array with names of those not in previous but in current\nconst current = msg.currentPlayerArray\nconst previous = msg.previousPlayerArray\n\nconst newPlayers = []\ncurrent.forEach(player => {\n    if (!previous.includes(player)) {\n        newPlayers.push(player)   \n    }\n})\nmsg.payload = newPlayers\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":464,"y":561,"wires":[["72b3ae2a.1363","c80e53f6.c3166"]]},{"id":"b3228ed3.b10fb","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"d0057e63.a9c5","compatibilityMode":false,"command":"household.create.group","state":"Küche,Bad,Wohnzimmer,A E.r_k-er:1","stateType":"str","name":"Add A E.r_k-er:1","x":1046,"y":521,"wires":[[]]},{"id":"d99a6d.4f47159","type":"delay","z":"e0bd5fc5.e4aaa","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":871,"y":521,"wires":[["b3228ed3.b10fb"]]},{"id":"29e13e12.cbf262","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- replace \"A E.r_k-er:1\" with your SONOS-Playername (not the confignode name!)\n","x":672,"y":496,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"b4be9d5b.0a2ef","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.35","events":[{"fullName":"ZoneGroupTopologyService.allGroups"}],"outputs":1,"x":140,"y":521,"wires":[["79bd7e5a.995ee"]]},{"id":"98f2474.421bcb8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address. you can use anyone.","x":190,"y":546,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"c957951a.7f46c8","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode\n- enter names of all players in new group","x":1045,"y":496,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"d0057e63.a9c5","type":"sonos-config","name":"kitchen","serialnum":"5C-AA-FD-00-22-36:1","ipaddress":"192.168.178.37"},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""}]