examples/when_tv_switched_on.json
[{"id":"45c1301b.18452","type":"sonosevents-selection","z":"e0bd5fc5.e4aaa","confignode":"1c70290d.90a4e7","playerHostname":"192.168.178.36","events":[{"fullName":"AVTransportService.basics"}],"outputs":1,"x":139,"y":720,"wires":[["8d84742b.522518"]]},{"id":"53685c9c.006c74","type":"rbe","z":"e0bd5fc5.e4aaa","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":477,"y":720,"wires":[["514c09af.0cb928"]]},{"id":"8d84742b.522518","type":"change","z":"e0bd5fc5.e4aaa","name":"select uri","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.uri","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":333,"y":720,"wires":[["53685c9c.006c74"]]},{"id":"514c09af.0cb928","type":"switch","z":"e0bd5fc5.e4aaa","name":"tv?","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"x-sonos-htastream:","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":616,"y":720,"wires":[["190e8a02.ec3c16"]]},{"id":"190e8a02.ec3c16","type":"sonos-universal","z":"e0bd5fc5.e4aaa","confignode":"8d44022c.adb65","compatibilityMode":false,"command":"player.set.volume","state":"20","stateType":"str","name":"","x":790,"y":720,"wires":[[]]},{"id":"dc4dfc38.975a2","type":"comment","z":"e0bd5fc5.e4aaa","name":"When TV switched on and Sonos Beam is being activated set the volume to 20","info":"# Use case\nWhen the TV is switched on, the SONOS Beam is being connected. This has been setup  in the SONOS app.  \nThe Beam will trigger an event and the volume is being set\n\n\n# My setup\n- SONOS beam is connected (wired) to TV (automatci launch)\n- \n- player SONOS beam at ip \"192.168.178.36\"\n- config node name sonos events: \"household\". \n\n- sonos-plus confignode name: \"living\" with ip see above\n","x":275,"y":687,"wires":[]},{"id":"9edd2870.cc5388","type":"comment","z":"e0bd5fc5.e4aaa","name":"↑modify","info":"- select your config node \n- select your players ip address","x":190,"y":748,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"e17f5f29.2aa4","type":"comment","z":"e0bd5fc5.e4aaa","name":"↓modify","info":"- select your SONOS player confignode","x":770,"y":693,"wires":[],"icon":"font-awesome/fa-edit"},{"id":"1c70290d.90a4e7","type":"sonosevents-config","name":"household","listenerHostname":"","listenerPort":""},{"id":"8d44022c.adb65","type":"sonos-config","name":"living","serialnum":"94-9F-3E-C1-3B-99:8","ipaddress":"192.168.178.36"}]